streamlit>=1.20
torch>=1.13.0
torchvision
transformers>=4.20
faiss-gpu
Pillow
imagehash
opencv-python-headless
PyTurboJPEG
redis
onnx
onnxruntime
PyYAML
piexif
python-magic
git+https://github.com/openai/CLIP.git
pyinstaller
fpdf2
